@use 'abstracts' as abs;
@use 'base' as b;
@use 'components' as c;
@use 'pages' as p;

/* for tests only! */
/* * {
	outline: 1px solid limegreen;
}
 */
html {
	font-size: 62.5%;
	font-family: b.$font_main;
	scroll-behavior: smooth;
}

body {
	width: 100%;
	min-height: 100vh;
	// min-width: 320px;
	background-color: abs.$pure-white;
}

img {
	max-width: 100%;
	height: auto;
}

.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 0; // abs.$menu_height; // -> set if nav is "fixed", now is sticky
	height: 470px;
	background-position: 50% 70%;
	z-index: -1;

	&--main {
		@include abs.heroImages('../img/bg/jungle-1807476_640.jpg');
	}

	&--contact {
		@include abs.heroImages('../img/bg/avenue-2215317_640.jpg');
	}

	&--offers {
		@include abs.heroImages('../img/bg/trees-6742028_640.jpg');
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.65);
		z-index: -2;
	}

	&__text {
		width: 90%;
		height: 100%;
		color: abs.$pure-white;

		p {
			font-size: clamp(2rem, 0.6vw + 1.8rem, 2.8rem); //2.8rem;
			font-weight: 300;
			margin-bottom: 0.2em;
		}

		h1 {
			font-size: clamp(2.8rem, 1.25vw + 2.4rem, 4.4rem); //4.4rem;
			font-weight: 700;
			letter-spacing: 1.2px;
			line-height: 1.3;
		}
	}
}

.aside-adventure {
	--scaleX: 1.2;
	--scaleY: 1.9;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: clamp(250px, 30vw, 400px);
	background-color: rgb(29, 34, 31);
	overflow: hidden;

	&:active &__text::before,
	&:hover &__text::before {
		animation: pulse 0.5s ease-out;
	}
	&:hover &__img,
	&:active &__img {
		transform: scale(1.05);
	}

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@include abs.heroImagesWithGradient('../img/bg/girl-5785590_640.jpg', abs.$dark-gradient);
		transition: transform 0.3s ease-out;
	}

	&__text {
		position: relative;
		z-index: 1;
		max-width: 75%;
		text-align: center;
		font-size: clamp(2.6rem, 1.8vw + 2rem, 4.8rem); //4.8rem;
		font-weight: 600;
		letter-spacing: 1.2px;
		color: abs.$pure-white;
		border: 1px solid abs.$pure-white;
		// background-color: rgba(5, 70, 5, 0.1);
		// mix-blend-mode: screen;
		padding: 0.8em;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform-origin: center;
			border: 2px solid abs.$pure-white;
			opacity: 0;
		}
	}
}

@media (min-width: 660px) {
	.hero--main {
		@include abs.heroImages('../img/bg/jungle-1807476_1280.jpg');
	}
	.hero--contact {
		@include abs.heroImages('../img/bg/avenue-2215317_1280.jpg');
	}
	.hero--offers {
		@include abs.heroImages('../img/bg/trees-6742028_1280.jpg');
	}

	.aside-adventure {
		&__img {
			@include abs.heroImagesWithGradient('../img/bg/girl-5785590_1280.jpg', abs.$dark-gradient);
		}
		&__text {
			max-width: 85%;
			padding: 0.8em 1.4em;
		}
	}
}
@media (min-width: 960px) {
	.hero {
		&__text {
			p {
				margin-bottom: 0;
			}
		}
	}
	.aside-adventure {
		&__text {
			padding: 0.8em 3.6em;
		}
	}
}

@media (min-width: 1200px) {
	.hero--main {
		@include abs.heroImages('../img/bg/jungle-1807476_1920.jpg');
	}

	.hero--contact {
		@include abs.heroImages('../img/bg/avenue-2215317_1920.jpg');
	}

	.hero--offers {
		@include abs.heroImages('../img/bg/trees-6742028_1920.jpg');
	}
}
