$pure-white: #fff;
$pure-black: #000;
$almost-black: #231f20;

$logo-gray: #181818; //#414141;

$contrast_color: #2ade72;
//--
$deep-green: #1f3220;
$deep-orange: #a07c32; //#8e7a37;
$contrast_second: $deep-orange;
//--

$light-gray: #f5f5f5;
$light-gray-2: #787878;

//==
$dark-gradient: linear-gradient(70deg, rgba(0, 0, 0, 0.4) 20%, rgba(6, 32, 13, 0.5) 50%, rgba(0, 0, 0, 0.5) 80%);
