@use 'abstracts' as abs;
@use 'base' as b;

$time_anim: 0.25s ease;

section {
	scroll-margin-top: abs.$menu_height;
}

.header {
	position: sticky;
	top: 0;
	width: 100%;
	height: abs.$menu_height;
	background-color: abs.$pure-white;
	z-index: 10;

	--blur: 7px;
	@supports (backdrop-filter: blur(var(--blur))) or (-webkit-backdrop-filter: blur(var(--blur))) {
		background-color: rgba(255, 252, 252, 0.7);
		-webkit-backdrop-filter: blur(var(--blur));
		backdrop-filter: blur(var(--blur));
	}

	&.anim {
		transition: height $time_anim;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	}

	.wrapper {
		height: 100%;
	}

	.navi-container {
		position: relative;
		height: 100%;

		// --
		// LOGO
		// --

		.logo-box {
			display: inline-block;
			position: relative;
			top: 50%;
			transform: translateY(-50%);

			.logo {
				display: flex;
				align-items: baseline;
				text-decoration: none;
				-webkit-tap-highlight-color: transparent;

				p {
					display: inline-block;
					// font-family: b.$font_logo;
					font-family: b.$font_main;
					color: abs.$logo-gray;
					font-size: calc(abs.$menu_height * 0.4); //4.4rem;;
					margin-left: 0.1em;
					pointer-events: none;

					&.anim {
						transition: font-size $time_anim; //0.3s ease; //cubic-bezier(0.19, 1, 0.22, 1);
					}
				}

				img {
					aspect-ratio: 1;
					margin-left: -5px;
					height: calc(abs.$menu_height * 0.36);
					pointer-events: none;

					&.anim {
						transition: height $time_anim; //0.3s ease; //cubic-bezier(0.19, 1, 0.22, 1);
					}
				}

				&::before {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background-color: transparent;
				}
			}
		}

		.nav-toggle {
			display: block;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 70%;
			aspect-ratio: 1;
			background: transparent;
			border: none;
			cursor: pointer;
			z-index: 1;
			-webkit-tap-highlight-color: transparent;

			.hamburger {
				position: relative;
			}

			.hamburger .line {
				position: absolute;
				top: 0;
				left: 50%;
				width: 50%;
				height: 3px;
				transform-origin: center;
				transform: translateX(-50%);
				transition: transform 0.3s 0.1s ease-in-out;
				background-color: abs.$almost-black;
			}
			.hamburger .line:nth-of-type(1) {
				transform: translate(-50%, -8px);
			}
			.hamburger .line:nth-of-type(3) {
				transform: translate(-50%, 8px);
			}

			.hamburger.closed .line:nth-of-type(2) {
				transition: transform 0.25s 0s ease-in;
				transform: translateX(-50%) scaleX(0);
			}
			.hamburger.closed .line:nth-of-type(1) {
				transform: translate(-50%, 0px) rotate(45deg);
			}
			.hamburger.closed .line:nth-of-type(3) {
				transform: translate(-50%, 0px) rotate(-45deg);
			}

			&:focus {
				outline: none;
			}
			&:focus-visible {
				border: 2px solid abs.$almost-black;
				border-radius: 6px;
			}
		}

		// --
		// NAV
		// --

		.nav {
			visibility: hidden;
			height: 0;
			position: absolute;

			opacity: 0;
			transition: visibility 0.3s linear, opacity 0.3s linear;

			&-menu {
				&--desktop {
					display: none;
				}

				&--mobile {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;

					position: fixed;
					font-size: clamp(2.6rem, 2.1rem + 1.5vw, 3.6rem);
					top: abs.$menu_height;
					left: 0;
					width: 100%;
					height: calc(100dvh - abs.$menu_height);
					background-color: abs.$almost-black;
					z-index: 100;
					opacity: 0;
					transition: opacity 0.25s ease-in;

					&--active {
						opacity: 1;
					}

					.nav-menu__item {
						position: relative;
						margin: 1em 0;
						padding: 0.5em 0.8em;
						cursor: pointer;
						-webkit-tap-highlight-color: transparent;
					}

					// .nav-menu__link--mobile:active {
					// 	color: green;
					// }
					.nav-menu__link--mobile:focus {
						outline: none;
					}
					.nav-menu__link--mobile:focus-visible {
						outline: 2px solid white;
						outline-offset: 0.7em;
					}
					.nav-menu__link--mobile {
						text-decoration: none;
						text-transform: uppercase;
						font-size: inherit;
						color: abs.$light-gray;
					}

					.nav-menu-item-animation {
						animation: navItemsAnimation 0.3s both ease-in-out 0s;
					}

					.mobile-btn-tree {
						position: absolute;
						width: 1.2em;
						aspect-ratio: 1;
						left: 0;
						top: 0;
					}
					.mobile-btn-tree--hidden {
						display: none;
					}
				}
			}
			&.nav--visible {
				visibility: visible;
				opacity: 1;
				height: auto;
				position: static;
			}
		}
	}
}

@keyframes navItemsAnimation {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

//=========================================< MEDIA QUERIES />====================================================

@media (min-width: 660px) {
	.header {
		.navi-container {
			text-align: center;
		}
	}
}
@media (min-width: 960px) {
	.header {
		height: abs.$menu_height;
		background-color: abs.$pure-white;
		-webkit-backdrop-filter: none;
		backdrop-filter: none;

		.navi-container {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.logo-box {
				top: 0;
				transform: translateY(0);

				.logo {
					margin-right: 3em;
				}
			}

			.nav-toggle {
				display: none;
			}

			.nav {
				visibility: visible;
				height: auto;
				position: relative;
				flex-grow: 1;

				&-menu--mobile {
					display: none;
				}
				&-menu--desktop {
					display: flex;
					justify-content: flex-end;

					.nav-menu__item {
						height: 100%;
						overflow: hidden;

						.nav-menu__link {
							position: relative;
							display: block;
							display: flex;
							justify-content: center;
							align-items: center;
							height: abs.$menu_height;
							padding: 0 2em;
							font-size: 2rem; //calc(abs.$menu_height * 0.25);
							color: abs.$pure-black;
							text-decoration: none;
							text-align: center;
							transition: height $time_anim;
							cursor: pointer;

							&:focus {
								outline: none;
							}
							&:focus-visible {
								outline: 3px solid green;
								outline-offset: -0.5em;
							}

							//::after - #selected menu item ==> nav-active
							&::after {
								content: '';
								position: absolute;
								display: block;
								left: 0;
								top: 0;
								width: 100%;
								height: 0%;
								background-color: abs.$almost-black;
								transition: height $time_anim, color 1s;
								z-index: -1;
							}

							&.active {
								& {
									color: abs.$pure-white;
								}

								&::after {
									top: 0;
									width: 100%;
									height: 100%;
									padding-bottom: 0;
									border-radius: 0;
									transform: scale(1) rotateZ(0deg);
								}
							}
						}
					}
				}
			}
		}
	}
}
