@use 'abstracts' as abs;
@use 'base' as b;

$time_anim: 0.25s ease-in-out;

section {
	scroll-margin-top: /* calc( */ abs.$menu_height--desktop /* - 5px) */;
}

// --
// LOGO
// --

.logo-box {
	display: flex;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);

	& > a {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: baseline;
		text-decoration: none;

		p {
			display: inline-block;
			font-family: b.$font_logo;
			color: abs.$logo-gray;
			font-size: calc(abs.$menu_height--desktop * 0.44); //4.4rem;;
			margin-left: 0.1em;
			margin-top: -0.1em;
			transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
		}
		img {
			aspect-ratio: 1;
			margin-left: 1em;
			height: calc(abs.$menu_height--desktop * 0.4);
			transition: height 0.3s cubic-bezier(0.19, 1, 0.22, 1);
		}
	}
}

// --
// NAV
// --

.nav {
	position: sticky;
	top: 0;
	width: 100%;
	height: abs.$menu_height--desktop;
	background-color: abs.$pure-white;
	z-index: 10;
	transition: height 0.3s ease-out;

	.line {
		background-color: transparent;
		width: 100%;
		height: 25px;
		box-shadow: inset 0 4px 8px -5px rgba($color: #283f25, $alpha: 0.3);
	}

	&-menu {
		&--desktop {
			display: block;
		}

		&__items {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
		}

		&__item {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			height: abs.$menu_height--desktop;
			background-color: abs.$pure-white;
			overflow: hidden;
			cursor: pointer;
			transition: all 0.3s ease-out;

			a {
				padding: 1.7em;
				font-size: 2rem; //calc(abs.$menu_height--desktop * 0.25);
				color: abs.$pure-black;
				text-decoration: none;
				text-align: center;
				transition: color $time_anim 0s;
				z-index: 10;
			}

			/*
			&:not(.nav-active) {
				&:hover > a {
					//transition: color $time_anim 0.3s;
					color: abs.$pure-white;
				} 
			} */

			//::after - #active menu item ==> nav-active
			&::after {
				content: '';
				position: absolute;
				display: block;
				left: 0;
				top: 0;
				width: 100%;
				height: 0;
				background-color: abs.$pure-black;
				transition: height $time_anim;
			}
		}
	}
}

.nav-active {
	&::after {
		height: 100%;
		top: 0;
		width: 100%;
		height: 100%;
		padding-bottom: 0;
		background-color: black;
		border-radius: 0;
		transform: scale(1) rotateZ(0deg);
		transition: height $time_anim;
	}
	& > a {
		color: abs.$pure-white;
	}
}

// === animations

/* 
@keyframes  {
	0% {

	}
	
	100% {

	}
}
 */
