@use 'sass:map';
@use 'abstracts' as abs;
@use 'base' as b;

.offers {
	h3 {
		font-size: clamp(1.6rem, 0.38vw + 1.478rem, 2.2rem);
		text-align: center;
		line-height: 1.4;
	}

	.offers-box--mobile {
		display: block;
	}
	.offers-box--desktop {
		display: none;
	}

	table {
		width: 85%;
		margin: 4em auto 0;
		border-collapse: collapse;
		table-layout: fixed;
		background: #fdfdfd;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		overflow: hidden;
	}
	th,
	td {
		padding: 0.4em;
		text-align: center;
	}
	td {
		position: relative;
		border-bottom: 1px solid #ddd;
		font-size: clamp(2.1rem, 0.19vw + 2.039rem, 2.4rem);
	}
	td:nth-child(1) {
		font-size: clamp(1.4rem, 0.25vw + 1.3rem, 1.8rem);
	}
	td:not(:last-child) {
		border-right: 1px solid #ddd;
	}

	th {
		padding: 1.2em;
		background-color: rgb(46, 75, 46); //abs.$deep-green;
		color: white;
		font-size: clamp(1.8rem, 0.769vw + 1.554rem, 2.2rem);
		letter-spacing: 0.05em;
	}

	tr:first-child {
		background-color: #c8d6c7; //abs.$contrast_color;
	}
	tr:last-child td {
		border-bottom: none;
	}
	tr:nth-child(6) td {
		border-bottom: none;
	}

	.std-choice-btn.iconed {
		text-indent: 0;
		width: 33%;
		margin: 1em 0;
		font-size: clamp(1.4rem, 0.2vw + 1.34rem, 1.7rem);
		letter-spacing: 0.3px;
	}

	.std-choice-btn.iconed::before {
		visibility: hidden;
		position: absolute;
		text-indent: 0;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		//font-family: 'Font Awesome 6 Free';
		//content: '\f090';
		// font-family: 'tabler-icons';
		// content: '\fc76';
		font-family: 'Material Symbols Outlined';
		content: '\ea77';
		//font-family: 'Phosphor';
		//content: '\E428';
		font-size: 2.3rem;
		font-weight: 400;
		color: abs.$almost-black; //#2e4b2e;
		-webkit-font-smoothing: antialiased;
	}

	p.annotation {
		width: 85%;
		margin: 0 auto;
		padding-top: 0.8em;
		padding-left: 0.8em;
		line-height: 1.3;
		font-size: clamp(1.3rem, 0.19vw + 1.239rem, 1.6rem);

		ion-icon {
			font-size: 0.8em;
			vertical-align: super;
		}
	}

	span:has(ion-icon) {
		display: inline-block;
		transform: scale(1);
		opacity: 1;
	}

	.new-plus-icon {
		position: absolute;
		display: inline-block;
		top: 50%;
		left: 50%;
		color: abs.$light-gray-2;
		opacity: 0;
		transform: translate(-50%, -50%) scale(0);
		animation: check-on 2s linear both;
	}

	.plus-off-animation {
		animation: plus-off 2s linear both;
	}
	/* .check-on-animation {
			animation: check-on 3.1s 0.25s ease-in forwards;
		} */

	@keyframes plus-off {
		0% {
			transform: scale(1);
			opacity: 1;
		}
		20% {
			transform: scale(0);
			opacity: 0;
		}
		90% {
			transform: scale(0);
			opacity: 0;
		}
		100% {
			transform: scale(1);
			opacity: 1;
		}
	}

	@keyframes check-on {
		0% {
			transform: translate(-50%, -50%) scale(0);
			opacity: 0;
		}
		10% {
			transform: translate(-50%, -50%) scale(0);
			opacity: 0;
		}
		30% {
			transform: translate(-50%, -50%) scale(1);
			opacity: 1;
		}
		70% {
			color: abs.$contrast_color;
		}
		80% {
			transform: translate(-50%, -50%) scale(1);
			opacity: 1;
		}
		90% {
			transform: translate(-50%, -50%) scale(0);
			opacity: 0;
			color: abs.$light-gray-2;
		}
		100% {
			transform: translate(-50%, -50%) scale(0);
			opacity: 0;
		}
	}
}

//=========================================< MEDIA QUERIES >====================================================

@media (min-width: 840px) {
	.offers {
		.offers-box--mobile {
			display: none;
		}
		.offers-box--desktop {
			display: block;
			margin-top: 5em;
		}

		table,
		p.annotation {
			width: 100%;
		}
		p.annotation {
			padding-left: 1.5em;
			padding-top: 1.5em;
		}
		th {
			font-size: clamp(1.4rem, 0.25vw + 1.3rem, 1.8rem);
		}

		th,
		td {
			padding: 0.8em;
		}

		.std-choice-btn.iconed {
			width: 100%;
			margin: 0;
			text-indent: -1000px;
			&::before {
				visibility: visible;
			}
		}
	}
}

@media (min-width: map.get(abs.$forest_breakpoints, 'l')/* 960px */) {
	.offers {
		table,
		p.annotation {
			width: 90%;
		}
	}
}

@media (min-width: 1150px) {
	.offers {
		.std-choice-btn.iconed {
			text-indent: 0;

			&::before {
				visibility: hidden;
			}
		}
	}
}
