@use 'sass:map';
@use '../abstracts/colors' as c;
@use '../abstracts/breakpoints' as b;
@use '../abstracts/vars' as v;
@use '../base/typography' as f;

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 85%;
	max-width: v.$wrapper_width;
}

.section-heading {
	position: relative;
	margin-bottom: 1.2em;
	font-size: clamp(3.2rem, 1.1vw + 2.8rem, 4.4rem); //4.4rem;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1.2px;
	color: c.$pure-black;
}

.section-padding {
	padding: 6em 0;
}

// icons

.i_pos {
	color: c.$contrast_color;
}
.i_neg {
	color: c.$light-gray-2;
}
.i_add {
	color: c.$light-gray-2;
}

// buttons

@mixin baseBtn() {
	padding: 0.5em 1em;
	border-radius: 8px;
	background: none;
	border: none;
	background-color: c.$pure-white;
	font-family: f.$font_main;
	font-size: clamp(1.6rem, 0.25vw + 1.5rem, 2rem); //2rem;
	font-weight: 400;
	letter-spacing: 1.1px;
	text-decoration: none;
	text-align: center;
	border: 2px solid transparent;
	box-shadow: 0 1px 4px rgba($color: #000000, $alpha: 0.2);
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
}

.std-choice-btn {
	--anim: 0.3s ease;
	@include baseBtn();
	position: relative;
	width: 90%;
	margin: 1em 0;
	overflow: hidden;
	transition: none;

	&:hover {
		transition: background-color var(--anim);
		background-color: c.$contrast_color;
		box-shadow: 0 3px 1px rgba($color: #0d8b35, $alpha: 0.7);
	}

	/* &:not(:hover) {
		transition: none;
	} */

	&:active {
		transition: none;
		box-shadow: none;
		transform: translateY(3px);
	}

	&:focus {
		outline: none;
	}
	&:focus-visible {
		outline: 2px solid c.$contrast_color;
		outline-offset: -0.3em;
	}
}

.big-choice-btn {
	@include baseBtn();
	padding: 0.8em 2em;
	font-size: clamp(1.9rem, 0.19vw + 1.839rem, 2.2rem); //2.2rem;
	color: c.$pure-white;
	box-shadow: none;
	background-color: c.$contrast_second;
	transition: background-color 0.3s ease-out, color 0.4s;

	&:hover {
		background-color: c.$contrast_color;
		color: c.$pure-black;
	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: 2px solid white;
		outline-offset: -0.3em;
	}
}

// -----------------------< MEDIA QUERIES >--------------------------

@media (min-width: map.get(b.$breakpoints, 'm')) {
}

@media (min-width: 960px) {
	.section-padding {
		padding: 8em 0;
	}
}
